/*  Definicion de variables */
 
/*COMIENZO VARIABLES*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300);
@import url(http://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700,800,900,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic,900italic);

$baseFont: Arial, Helvetica, sans-serif;
$exoType:'Exo', sans-serif;
$openType: 'Open Sans', sans-serif;

$baseFontSize: 14px;
$baseLineHeight: 14px;

$blueColor: #0A7186;
$grayColor: #333333;
$blackColor: #000000;
$whiteColor: #FFFFFF;

$laptop: 991px;
$ipad: 767px;
$mobile: 490px;
$miniMobile: 300px;
